@import "tailwindcss";

@theme {
    --color-daramis-green: #3A4035;
    --color-daramis-darkest: #1A1A1A;
    --color-daramis-dark: #2A2D27;
    --color-daramis-yellow: #E5B962;
    --color-daramis-creamy: #EBE6E0;
    --color-daramis-creamy-2: #C4BCB3;
    --color-daramis-white: #FFFFFF;
    --color-daramis-error: #D34B4B;

    --font-family-nudista: "Nudista", sans-serif;
    --font-family-arial: "Arial", sans-serif;
}
